.instructions {
    text-align: center;
    font-size: 2vh;
    width: 40vw;
    padding: 1vh 1.5vw 1vh 1.5vw;
    margin: 1vh 1vw 1vh 1vw;
    background-color: rgb(243, 243, 243, 0.5);
    border-radius: 2vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* or center, as you prefer */
  gap: 1em; /* optional: adds space between instructions */
}