/*---------BUTTON--------*/
.button {
    font-size: 3vh;
    padding: 1vh 1.5vw 1vh 1.5vw;
    margin: 1vh 1vw 1vh 1vw;
    background-color: rgba(90, 139, 75, 0.562);
    border-radius: 2vh;
    color: #0060B6;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(255, 106, 106, 0.5);
}

@media screen and (max-width: 400px) {
    .button {
        font-size: inherit;
    }
}

@media screen and (max-width: 270px) {
    .button {
        margin: 2px 2px 2px 2px;
        padding: 2px 2px 2px 2px;
    }
}