@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Roboto&family=Train+One&display=swap');

.title {
    font-family: 'Franklin Gothic Medium';
    font-size: 6vh;
    text-align: center;
    margin: 0;
    background: rgba(255, 255, 255, 0.45);
    margin: 1vh 3vw 1vh 3vw;
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 10px;
}

.title:hover span {
    display: none
}

.title:hover:before {
    content: "BOOOM :)"
}