.app {
  position: absolute;
  width: 100vw;
  z-index: 10;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(128, 155, 140);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .content {
    flex-direction: column;
  }
}